@inherits LayoutComponentBase

<div class="page">
   

    <main class="content">
        <article class="px-4">
            @Body
        </article>
    </main>

    <footer class="footer">
        <p>&copy; @(DateTime.Now.Year) - My URL Shortener</p>
    </footer>
</div>
